Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
doc/xrap.7
doc/xrap_msg.3
libtool
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libxrap.la
src/libxrap.pc
src/platform.h
src/platform.h.in
src/platform.h.in~
src/stamp-h1
src/xrap_msg.lo
src/xrap_msg.o
src/xrap_selftest
src/xrap_selftest.o
src/test-suite.log
src/xrap_selftest.log
src/xrap_selftest.trs
