Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
doc/tsp.7
doc/tsp_msg.3
libtool
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/libtsp.la
src/libtsp.pc
src/platform.h
src/platform.h.in
src/platform.h.in~
src/stamp-h1
src/tsp_msg.lo
src/tsp_msg.o
src/tsp_selftest
src/tsp_selftest.o
